/* color:#4cb5f9 
#3b5487*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri";
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.main {
  height: 450px;
  width: 360px;
  border: 1px solid #dfdfdf;
  margin-top: 10px;
}
.main img {
  width: 200px;
  display: flex;
  margin-top: 40px;
  margin-left: 80px;
  margin-bottom: 25px;
}
.main input {
  height: 40px;
  width: 280px;
  margin-top: 5px;
  margin-left: 39px;
  border-radius: 4px;
  padding: 8px;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
  color: #f2eee9;
  font-size: 14px;
}
.main button {
  height: 35px;
  width: 280px;
  margin-left: 39px;
  margin-top: 15px;
  border-radius: 8px;
  background-color: #4cb5f9;
  color: #fff;
  font-size: 16px;
  border: 1px solid #f2ffff;
}
.fb {
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: 17px;
}
.fb a:hover{
  color: #566a92;
}
.fb a {
  text-decoration: none;
  color: #34a6f1;
  font-size: 16px;
  font-weight: 550;
  margin-top: 14px;
  padding-left: 8px;
}
.fb img {
  height: 18px;
  width: 18px;
}
.forget {
  margin-top: -40px;
  text-align: center;
  align-items: center;
  margin-top: 5px;
  padding-left: 5px;
}
.forget a {
  text-decoration: none;
  color: #425c80;
  font-size: 17px;
  font-weight: 500;
}
.line {
  margin-top: 25px;
  display: flex;
  margin-top: 30px;
  padding-left: 45px;
}
.line hr {
  width: 110px;
  height: 0;
}
.line p {
  width: 50px;
  margin-top: -10px;
  padding-left: 17px;
  font-size: 14px;
  color: #99a0a8;
  font-weight: 600;
}
.low {
  border: 1px solid #dfdfdf;
  width: 360px;
  height: 70px;
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
}
.low a {
  text-decoration: none;
  color: #34a6f1;
  font-weight: bold;
  font-size: medium;
}
