*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri";
}
.container {
    display: flex;
    flex-direction:column;
    height: 100vh;
  align-items: center;
}
.main {
    height: 620px;
    width: 360px;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
  }
  .main img {
    width: 200px;
    display: flex;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 25px;
}
.main p{
    text-align: center;
    font-size: large;
    color: #6d6964;
    margin-top: -20px;
    font-weight: 500;
}
button{
    height: 37px;
    width: 280px;
    margin-left: 39px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #0195f7;
    color: #f6ffff;
    font-size: 16px;
    border: 1px solid #f2ffff;
    font-weight: 600;
  }
  button a{
    text-decoration: none;
    color:  #f6ffff;
  }
.line {
    display: flex;
    margin-top: 25px;
    padding-left: 45px;
    margin-bottom: 10px;
}
  .line hr {
    width: 110px;
    height: 0;
}
  .line p {
    width: 50px;
    margin-top: -10px;
    font-size: 14px;
    color: #6e7984;
    font-weight: 550;
 }
  .main input {
    height: 40px;
    width: 280px;
    margin-top: 5px;
    margin-left: 39px;
    border-radius: 4px;
    padding: 8px;
    background-color: #fafafa;
    border: 1px solid #dfdfdf;
    color: #f2eee9;
    font-size: 14px;
  }
.para{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
}
.para p{
    font-size: 14px;
    color:#a09b96 ;
}
.para a{
    text-decoration: none;
    color: #15679a;
    font-size: 14px;
}
.para p1{
    color:#a09b96;
}
.button button{
    background-color: #4cb5f9;
}
.low {
    border: 1px solid #dfdfdf;
    width: 360px;
    height: 70px;
    margin-top: 52px;
    text-align: center;
    padding: 40px;
}
.low p{
    font-size: 16px;
    font-weight: 500;
}
  .low a {
    text-decoration: none;
    color: #63b7ef;
    font-weight: bold;
    font-size: large;
}  
